@import './components/app-header/_app-header';
@import './components/cart-table/_cart-table';
@import './components/menu-list/_menu-list';
@import './components/menu-list-item/_menu-list-item';

    
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}